actionlib==1.12.0
angles==1.9.12
backcall==0.2.0
base-local-planner==1.16.5
bondpy==1.8.3
camera-calibration==1.14.0
camera-calibration-parsers==1.11.13
catkin==0.7.23
certifi==2020.6.20
controller-manager==0.17.0
controller-manager-msgs==0.17.0
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.6.3
future==0.18.2
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
image-geometry==1.13.0
imageio==2.9.0
interactive-markers==1.11.4
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
joblib==0.16.0
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.2.0
laser-geometry==1.6.4
matplotlib==3.3.1
message-filters==1.14.5
moveit-commander==1.0.2
moveit-ros-planning-interface==1.0.2
moveit-ros-visualization==1.0.2
networkx==2.5
numpy==1.19.1
opencv-python==4.4.0.42
pandas==1.1.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.6
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
resource-retriever==1.12.6
rosbag==1.14.5
rosboost-cfg==1.14.8
rosclean==1.14.8
roscreate==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmake==1.14.8
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospy==1.14.5
rosserial-arduino==0.8.0
rosserial-client==0.8.0
rosserial-python==0.8.0
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.7
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
sensor-msgs==1.12.7
six==1.15.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
srdfdom==0.5.1
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
threadpoolctl==2.1.0
tifffile==2020.8.25
topic-tools==1.14.5
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tqdm==4.48.2
traitlets==4.3.3
turtlebot3-example==1.2.2
turtlebot3-teleop==1.2.2
urdfdom-py==0.4.2
wcwidth==0.2.5
xacro==1.13.5
